<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= @person.errors.count %> <%= t( "error", count: @person.errors.count ) %> <%= t( "people.form.error_intro", count: @person.errors.count ) %></h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname, t( "people.firstname" ) %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middlename, t( "people.middlename" ) %><br>
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :lastname, t( "people.lastname" ) %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :title, t( "people.title" ) %><br>
    <%= f.text_field :title, :list => 'titles' %>
    <datalist id="titles">
      <option value="">
      <option value="Dr.">
      <option value="Prof. Dr.">
      <option value="Graf">
      <option value="Herzog">
    </datalist> 
  </div>
  <div class="field">
    <%= f.label :sex, t( "people.sex" ) %><br>
    <%= f.select  :sex, t( "people.sexes" ).invert, :selected => @person.sex %>
  </div>
  <div class="field">
    <%= f.label :salutation, t( "people.salutation" ) %><br>
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :password, t( "people.password" ) %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :roles, t( "people.roles" ) %><br>
    <% i = 0 %>
    <% for role in Person.values_for_roles do %>
      <%= check_box_tag "person[roles][]", role, @person.roles.include?(role), {:id => "person_roles_" + (i+=1).to_s } %>
      <%= f.label "roles_" + i.to_s, role.to_s.titleize %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :status, t( "people.status" ) %><br>
    <% i = 0 %>
    <% for status in Person.values_for_status do %>
      <%= check_box_tag "person[status][]", status, @person.status.include?(status), {:id => "person_status_" + (i+=1).to_s } %>
      <%= f.label "status_" + i.to_s, status.to_s.titleize %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
